*{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}




body{
    position: relative;
    -webkit-transition: .3s;
    transition: .3s;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.dark{
    background-color: #212020;
    color: aliceblue;
}
.dark-form{
    background-color: #2e2e2e;
}
.dark-input{
    background-color: #494949 !important;
    color: aliceblue;
}


/* .light{
    background-color: #fff;
    color: black;
} */




 /* The switch - the box around the slider */
 .switch {
    position: absolute;
    /* display: inline-block; */
    right: 10px;
    top: 10px;
    width: 60px;
    height: 34px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .3s;
    transition: .3s;
  }
  
  input:checked + .slider {
    background-color: #3242be;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 2px #3242be;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  } 





h1{
    text-align: center;
}

form{
    width: 50%;
}

form fieldset, fieldset{
    background-color: rgb(241, 241, 255);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding: 40px 10px;
    margin: 50px 0;
    border: none;
    border-radius: 10px;
    transition: .4s;
}

legend{
    font-size: 18px;
    font-weight: 600;
}


label{
    display: inline-block;
    width: 150px;
}


input,#ids{
    width: 250px;
    height: 30px;
    background: #dcdeff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    text-indent: 10px;
    letter-spacing: 2px;
    -webkit-transition: .3s;
    transition: .3s;
}

#ids{
    width: 258px;
    cursor: pointer;
}

button{
    font-size: 15px;
    font-weight: 600;
    height: 30px;
    width: 410px;
    border: none;
    cursor: pointer;
    color: white;
    border-radius: 5px;
}

.pos{
    background-color: green;
}
.upd{
    background-color: gold;
}
.neg{
    background-color: red;
}


@media screen and (min-width: 700px) {
    form{
        width: 50%;
    }
    form fieldset, fieldset{
        width: 100%;
        align-items: center;
    }
}
@media screen and (max-width: 700px) {
    form{
        width: 90%;
    }
    form fieldset, fieldset{
        width: 100%;
        align-items: center;
    }
}
